<div class="container">
　<div class="row"><br />
　  <center><h1>About</h1></center>
　  <div class="about-box">
　    <%= image_tag asset_path("person2.jpeg"), class: "person1",alt: "person1" %>
          <table class="table">
          <tbody>
            <tr>
              <td>名前</td>
              <td>水口　鋭人</td>
            </tr>
            <tr>
              <td>出身</td>
              <td>京都府</td>
            </tr>
            <tr>
              <td>スポーツ歴</td>
              <td>バスケットボール、サッカー、野球</td>
            </tr>
            <tr>
              <td>趣味</td>
              <td>バスケットボール、筋トレ</td>
            </tr>
            <tr>
              <td>資格</td>
              <td>柔道整復師<br />バスケットコーチライセンス<br />
              </td>
            </tr>
              <td>略歴</td>
              <td>高校卒業後、社会人経験を経て専門学校へ入学しプロバスケットボール選手を目指す。<br />
              体調を崩した事を機に、それまで抱いていたスポーツに携わる仕事がしたい、<br />
              大怪我で自身も苦しみ、同じような思いをしている人を助けたい、<br />
              という思いから、トレーナーを目指す。<br />
              </td>
          </tbody>
        </table>
　  </div>
    <h3>当院について</h3>
    <p class ="clinic">
      当院は完全予約制・不定期の営業となっております。<br />
      ご来院の際はお問い合わせフォームにてお問い合わせいただくか、お電話でも承っております。<br />
    </p><br />
    <h3>Map</h3>
    <div class="ggmap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3270.5565608077513!2d135.70621671523878!3d34.94265668037308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600104369587d8f3%3A0x1551e0804f6c9c7!2z5paw5a6u5pW06aqo6Zmi!5e0!3m2!1sja!2sjp!4v1607929405579!5m2!1sja!2sjp" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
      <img class="address">
        <table class="table">
          <tbody>
            <tr>
              <td>住所</td>
              <td>〒617-0004<br />京都府向日市鶏冠井町東井戸10-1</td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><a href="tel:0759346511">075-934-6511</a></td>
            </tr>
          </tbody>
        </table>
　  </div>
　</div>
</div>