<div class="main-visual"><br /><br />
  <div class="main-visual-content">
    <p class="main-visual-text">
      <br />
      BRUSH UP YOUR BODY.<br />
      WORKOUT＆CONDITIONING
    </p>
    <p class="main-visual-name">
      since 2020
    </p>
  </div>
</div>
<div class="container">
　<div class="row"><br />
　  <center><h1>Blogs</h1></center>
　      <% @blogs.each do |blog| %>
　        <div class="box11">
　          <div class="img-container"><%= attachment_image_tag blog, :image, :fill, 150, 130 %>
　          <section class ="blog-text">
　            <h3 class="blog-text-heding"><%= link_to blog.blog_title, blog_path(blog) %></h3>
　            <p class ="date"><%= blog.created_at.strftime('%Y/%m/%d %H:%M') %></p>
　          </section>
　        </div>
　      <% end %>
　    <%= paginate @blogs %>
　</div>
</div