<div class="main-visual"><br /><br />
  <div class="main-visual-content">
    <p class="main-visual-text">
      <br />
      BRUSH UP YOUR BODY.<br />
      WORKOUT＆CONDITIONING
    </p>
    <p class="main-visual-name">
      since 2020
    </p>
  </div>
</div>
<div class="container"><br><br><br>
    <center><h1>Concept</h1></center>
  <center>
  <div class="concept">
    <div class="item1">
      <img class="concept-image" src="/assets/body1.jpeg"></img>
      <div class="concept-text">
        怪我や慢性的なお身体の不調の<br>
        ご相談もお受けしています。<br>
        根本的な改善を目指します。<br>
      </div>
    </div>
    <div class="item1">
      <img class="concept-image" src="/assets/body2.jpeg"></img>
      <div class="concept-text">
        お身体の健康には心状態も<br>
        直結しています。<br>
        運動でリフレッシュしましょう。<br>
      </div>
    </div>
    <div class="item1">
      <img class="concept-image" src="/assets/body3.jpeg"></img>
      <div class="concept-text">
        筋肉は活力の源。<br>
        健康寿命を伸ばすには<br>
        適度なトレーニングが必要です。<br>
      </div>
    </div>
  </div>
</div>
</center>

<div class="erea">
<div class="container">
　<div class="row"><br />
　  <center><h1>Blogs</h1></center>
　      <% @blogs.each do |blog| %>
　        <div class="box11">
　          <div class="img-container"><%= attachment_image_tag blog, :image, :fill, 150, 130 %>
　          <section class ="blog-text">
　            <h3 class="blog-text-heding"><%= link_to blog.blog_title, blog_path(blog) %></h3>
　            <p class ="date"><%= blog.created_at.strftime('%Y/%m/%d %H:%M') %></p>
            </div>
　          </section>
　        </div>
　      <% end %>
　    <%= paginate @blogs %>
　</div>
</div>
</div>