<div class="row">
　  <div class="col-xs-offset-1">
      <h1>コース詳細</h1>
      <h3 class="course-heding"><%= @fee.course %></h3><br>
      <h4 class="course-text">コース説明</h4>
      <p class="course-text">
        <%= @fee.course_text %>
      </p>
      <%= link_to "<< Back", fees_path %>
    </div>
  </div>